{% extends "about_me/main.html" %}

{% block content %}
<h2>Kontakt</h2><hr/>
<p>W sprawach zawodowych i nie tylko można się ze mną kontaktować za pośrednictwem:</p> 
<p>
	<a href="mailto:krzysztof.natusiewicz@gmail.com">
		<img src="../../static/about_me/img/mail.png" class="img-fluid" style="max-height:30px; max-width:100%"  alt="mail">
		krzysztof.natusiewicz@gmail.com
	</a>
</p>
<p><img src="../../static/about_me/img/wechat.jpg" class="img-fluid" style="max-height:40px; max-width:100%"  alt="wechat">
	WeChat login: 	<strong>施志峰</strong>
	WeChat QRcode:
	<img src="../../static/about_me/img/qrcode.png" class="img-fluid" style="max-height:100px; max-width:100%"  alt="qrcode">
</p>
<p><img src="../../static/about_me/img/skype.png" class="img-fluid" style="max-height:40px; max-width:100%"  alt="skype">
	Skype login: 	XXX
	</p>
{% endblock %}