{% extends "about_me/main.html" %}

{% block content %}

<h2>Doświadczenie</h2><hr/>
<div class="kafelki">
	<button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#Education" aria-expanded="false" aria-controls="collapseExample">
	  Edukacja
	</button>
	<button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#Mechanics" aria-expanded="false" aria-controls="collapseExample">
	  Mechanika
	</button>
	<button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#Programming" aria-expanded="false" aria-controls="collapseExample">
	  Programowanie
	</button>
	<button class="btn btn-success btn-lg" type="button" data-toggle="collapse" data-target="#Enterprunership" aria-expanded="false" aria-controls="collapseExample">
	  Własna działalność
	</button>
</div>
<br>
<div class="collapse in" id="Education">
  <div class="well">
		<table class="table table-striped" id="tabela">
			<tr>
				<td>Marzec '14 - Lipiec '15</td>
				<td>Politechnika Wrocławska </br> Studia Magisterskie - Konstrukcja i Eksploatacja maszyn</td>
			</tr>
			<tr>
				<td>Wrzesień '12 - Lipiec '13</td>
				<td>Ecole Nationale Superieure Arts et Metiers w Cluny, </br> jako uczestnik programu Erasmus </br> Profil studiów - Inżynieria mechaniczna ogólna (<em> fr. Ingénieur généraliste mécanique</em>) </td>
			</tr>
			<tr>
				<td>Październik '10 - Styczeń '14</td>
				<td>Politechnika Wrocławska </br> Studia inżynierskie - Mechanika i Budowa Maszyn</td>
			</tr>
		</table>
  </div>
</div>
	

<div class="collapse" id="Mechanics">
  <div class="well">
		<table class="table table-striped" id="tabela">
			<tr>
				<td>Lipiec '11</td>
				<td><strong>CadMECH</strong> – Miesięczne praktyki studenckie w biurze konstrukcyjno-projektowym we Wrocławiu </br>
					Tworzenie koncepcji i rysunków technicznych linii produkcyjnej do tworzenia kotew KGHM </td>
			</tr>
			<tr>
				<td>Lipiec '13</td>
				<td><strong>Alstom Power</strong> Wrocław (Biuro Generatorów)  – Miesięczne praktyki
					<ul>
						<li>Tworzenie modelu 3D (w CATIA) generatora prądotwórczego, na podstawie dokumentacji 2D </li>
						<li>Dokonywanie modyfikacji rysunków technicznych w CATIA </li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>Lipiec '14</td>
				<td><strong>CHEMAR – Rurociągi</strong> Miesięczne praktyki studenckie w dziale technologicznym
					<ul>
						<li>Opracowywanie dokumentacji technologicznej dla przeróbki plastycznej, </br> spawania, obróbki skrawaniem oraz montażu</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>Kwiecień '15 - Lipiec '15</td>
				<td><strong>Hamilton Sunstrand Wrocław</strong> praktyki w Dziale Testów w Global Engineering Center
					<ul>
						<li>Tworzenie list zapotrzebowania na narzędzia do budowania i obsługi stanowisk testowych</li>
						<li>Tworzenie raportów testowych</li>
						<li>Wspieranie inżynierów testu w przygotowaniu stanowisk testowych</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>Sierpień '15 - Styczeń '16</td>
				<td><strong>Hamilton Sunstrand Wrocław</strong> Inżynier ds. Testów
					<ul>
						<li>Przygotowanie specyfikacji technicznej</li>
						<li>Budowa stanowisk testowych przy współpracy z zewnętrznymi dostawcami</li>
						<li>Przeprowadzanie procedur testowych</li>
						<li>Przygotowanie raportów testowych</li>
						<li>Analiza statystyczna możliwości stanowisk testowych (MSA, obliczanie błędu pomiarowego)</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td>Styczeń '16 - Sierpień 2017</td>
				<td><strong>SDA sp. Jawna </strong> Konstruktor
					<ul>
						<li>Tworzenie koncepcji maszyn i rozwiązań technicznych przy jej konstrukcji</li>
						<li>Tworzenie konstrukcji matryc spawalniczych</li>
						<li>Przygotowywanie dokumentacji technicznej 2D w Solidworks</li>
						<li>Przygotowywanie modeli 3D w Solidworks</li>
						<li>Opracowywanie dokumentacji techniczno-ruchowej</li>
						<li>Kontakt z poddostawcami</li>
						<li>Kontakt z klientami</li>
					</ul>
				</td>
			</tr>	
		</table>
  </div>
</div>


<div class="collapse in" id="Programming">
  <div class="well">
	<p style="text-align:justify;">Jeszcze nie ma żadnego, ale może jak spojrzysz na moje <a href="/skills">umiejętności</a> to zechcesz mi zaproponować współpracę.</p>
  </div>
</div>
		

<div class="collapse in" id="Enterprunership">
  <div class="well">
		<table class="table table-striped" id="tabela">
			<tr>
				<td>Listopad '16 - ...</td>
				<td><strong>Goodest</strong> – Właściciel (Sklep internetowy zajmujący się importem i sprzedażą akcesoriów użytku codziennego)</br>
					<ul>
						<li>Zarządzanie sklepem</li>
						<li>Kontakt z klientem</li>
						<li>Pozycjonowanie strony (SEO)</li>
						<li>Prowadzenie kampanii reklamowych</li>
						<li>Prowadzenie bloga sklepowego</li>
						<li>Logistyka związana ze sprzedażą</li>
						<li>Logistyka związana ze impotem produktów</li>
					</ul>
				</td>
			</tr>
		</table>
  </div>
</div>
	<!-- <div>	 -->
		<!-- <h3>Enterprunership</h3> -->
	<!-- </div> -->

{% endblock %}