
{% block content %}
	<div class="container-fluid">
	<hr/>
		<div class="row" style='justified'>
			<div class="col-xs-4" style='margin: auto'>
				<center>
					<a href="http://www.goldenline.pl/krzysztof-natusiewicz/" target="blank">
						<img src="../../static/about_me/img/goldenline-logo.png" class="responsive-img" style='max-height:40px;' alt="face">
					</a>
				</center>
			</div>		
			<div class="col-xs-4" style='margin:auto'>
				<center>
					<a href="https://github.com/thing91" target="blank">
						<img src="../../static/about_me/img/github-logo.png" class="responsive-img" style='max-height:40px;' alt="face">
					</a> 
				</center>
			</div>		
			<div class="col-xs-4" style='margin:auto'>
				<center>
					<a href="https://www.linkedin.com/in/krzysztof-natusiewicz/" target="blank">
						<img src="../../static/about_me/img/logo-linkedin.png" class="responsive-img" style='max-height:40px;' alt="face">	
					</a> 
				</center>
			</div>
			
		</div>
		<div>
		<center>
			<p>All rights reserved © Krzysztof Natusiewicz</p>
		</center>
		</div>
	</div>
{% endblock %}
