{% block content %}

		<div class="row" >
			<div class="col-sm-9" id="logo">
				<br>
				<center class="headline">
					<img src="../../static/about_me/img/grafika.jpg" class="img-fluid" style="max-height:150px; max-width:100%"  alt="grafika">
					<p style="font-family:helvetica; font-size:25px;word-spacing:100px">Inżynieria Kosmos Programowanie</p>
				</center>
			</div>
			<div class="col-sm-3" id="zdjecie">
				<center>
					<br>
					<p>Krzysztof Natusiewicz</p>
					<img src="../../static/about_me/img/face.jpg" class="responsive-img" style='max-height:100px;' alt="face">	
				</center>
			</div>
		</div>
		<div class="row">
			<!-- <div class="col-sm-12"> -->
				<div class="container">
					<nav class="navbar navbar-expand-lg navbar-light bg-success" >
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
							<ul class="navbar-nav">
								<li>
									<a class="btn btn-success btn-lg" role="button" href="/">Home</a>
								</li>
								<li>
									<a class="btn btn-success btn-lg" role="button" href="/expv2">Doświadczenie</a>
								</li>
								<li>
									<a class="btn btn-success btn-lg" role="button" href="/skills">Umiejętności</a>
								</li>
								<li>
									<a class="btn btn-success btn-lg" role="button" href="/interests">Zainteresowania</a>
								</li>								
								<li>
									<a class="btn btn-success btn-lg" role="button" href="/contact">Kontakt</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			<!-- </div> -->
		</div>

{% endblock %}