{% extends "about_me/main.html" %}

{% block content %}
<div id="hometext">
	<p> 
	Jest to strona poświęcona mojej osobie. Znajdziesz tu informacje na temat mojego wykształcenia, kariery zawodowej, moich umiejętności i kompetencji, które posiadam. Poznasz również moje zainteresowania, tak osobiste jak i zawodowe. <br>
	</p> 
	<p> 
	Jeśli poszukujesz pracownika, współpracownika lub wspólnika to zapraszam Cię do kontaktu ze mną. Jestem otwarty na wszelkiego rodzaju propozycje współpracy, począwszy od zatrudnienia, poprzez udział finansowy w przedsięwzięciu, po udział w hobbystycznym projekcie.
	</p>
</div>
{% endblock %}