{% extends "about_me/main.html" %}

{% block content %}
<article>
	<h2>Zainteresowania</h2> <hr/>
	<section>
		<h3>Języki obce</h3>
		<h5>Angielski</h5>
		<p>Od dzieciństwa moi rodzice dbali o rozwój moich zdolności językowych. Od zerówki do końca gimnazjum uczęszczałem na różnego typu zajęcia z języka angielskiego. Mimo późniejszego zaniechania "typowo szkolnej" nauki, dzięki filmom i książkom anglojęzycznym płynność w posługiwaniu się tym językiem wzrastała. Obecnie angielski traktuję jako język prawie że równoważny z językiem polskim.</p>
		<h5>Francuski</h5>
		<p>Pod koniec gimnazjum postanowiłem, że w liceum chcę się przede wszystkim nauczyć języka francuskiego, zatem mimo raczej ścisłego umysłu wybrałem klasę humanistyczną z dodatkowym francuskim co skończyło się zdaniem matury rozszerzonej z francuskiego. Studia rozpocząłem z postanowieniem jak najszybszego wyjazdu w ramach programu Erasmus do Francji co po dwóch latach studiów uczyniłem, jadąc na 10 miesięcy studiów na uczelni Arts et Metiers w Cluny. Całe, życie studenckie i nauka odbywały się w języku „tubylczym”, przez co chcąc nie chcąc, musiałem opanować ten język w stopni zaawansowanym.</p>
		<h5>Chiński</h5>
		<p>Moje pierwsze zetknięcie z językiem chińskim miało miejsce we Francji, gdzie w ramach zajęć dodatkowych mieliśmy możliwość wyboru dodatkowego języka. Zaciekawiła mnie kompletnie odmienna natura tego języka i pewnego rodzaju matematyczna logika ukryta w tych przedziwnych „znaczkach”. Od tamtej pory przez 3 lata uczyłem się w ramach zajęć prywatnych oraz grupowych oraz zdałem egzamin HSK 3 (w skali 1-6) w marcu 2016.</p>
	</section>
	<section>
		<h3>Programowanie</h3>
		<p>Jako przeniesienie zainteresowania językami na sferę komputerów, zrodziła się moja ciekawość i chęć poznania języków programowania, które traktuję tak jak języki obce. Różnica polega tylko na tym z kim się komunikujemy oraz na poziomie wyrozumiałości drugiej strony. Większość mojego wolnego czasu spędzam programując lub ucząc się nowych aspektów programowania.</p>
	</section>
	<section>
		<h3>Wspinaczka</h3>
		<p>
		Moja przygoda ze wspinaczką zaczęła się podczas wymiany studenckiej we Francji. Wtedy to pierwszy raz zetknąłem się z tym sportem i od razu wiedziałem, że szybko się od niego nie uwolnię. Niestety ze względów finansowych oraz braku czasu w trakcie końcowych semestrów studiów moja pasja musiała zmierzyć się z cierpliwością. Od Sierpnia 2016 roku jestem aktywnym wspinaczem i trenuję od 2 do 4 razy w tygodniu. Okazjonalnie wspinam się również w skałach, ale zamierzam zwiększyć częstotliwość takich wyjazdów, co zależy głównie od pogody. 
		</p>
		<p>
		We wspinaczce podoba mi się mierzenie się z własnymi ograniczeniami, tak fizycznymi jak i psychicznymi. Również fakt, że jest to sport indywidualny, a przy tym bardzo towarzyski.
		</p>
	</section>
	<section>
		<h3>Przemysł kosmiczny</h3>
		<p>
		Moje zainteresowanie tematyką kosmosu, podróży kosmicznych i perspektywy człowieka w kosmosie rozpoczęła się od obejrzenia w dzieciństwie filmu "<em>Gwiezdne wojny</em>". Przez wiele lat ten temat krążył w moich myślach, z tym, że głównie w sferze marzeń i wizualizacji. 
		</p>
		<p>
		Gdy na początku 2017 roku przeczytałem biografię Elon’a Musk’a („<em>Elon Musk Biografia twórcy PayPal, Tesla, SpaceX</em>” autorstwa Ashlee Vance), pewnie tak jak większość ludzi, zapoznając się z jego pracą i osobowością, byłem zafascynowany i oczarowany. Jego wizja ludzkości w kosmosie, kolonii na Marsie w połączeniu z rzeczywistym dążeniu do tych celów poprzez działania, silnie a mnie wpłynęła z zmotywowała do potraktowania tego tematu poważnie.
		</p>
		<p>
		Uważnie śledzę wydarzenia z branży Space oraz regularnie czytam artykuły naukowe oraz książki dotyczące tej tematyki.
		</p>
	</section>
</article>
</p>
{% endblock %}