{% extends "about_me/main.html" %}

{% block content %}

	<h2>Umiejętności</h2>

	<button class="btn btn-info btn-lg" type="button" data-toggle="collapse" data-target="#Mechanics" aria-expanded="false" aria-controls="collapseExample">
	  Mechanika
	</button>
	<button class="btn btn-info btn-lg" type="button" data-toggle="collapse" data-target="#Programming" aria-expanded="false" aria-controls="collapseExample">
	  Programowanie
	</button>
	<button class="btn btn-info btn-lg" type="button" data-toggle="collapse" data-target="#Languages" aria-expanded="false" aria-controls="collapseExample">
	  Języki obce
	</button>
	<button class="btn btn-info btn-lg" type="button" data-toggle="collapse" data-target="#Other" aria-expanded="false" aria-controls="collapseExample">
	  Inne
	</button>
	<div class="collapse in" id="Mechanics">
	  <div class="well">
			<table class="table table-striped" id="tabela">
				<tr>
					<td rowspan="3">Oprogramowanie</td>
					<td>Solidworks
					</td>
					<td>
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
					</td>
				</tr>
				<tr>
					<td>CATIA</td>
					<td>
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
					</td>
				</tr>
				<tr>
					<td>Siemiens NX</td>
					<td>
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
					</td>
				</tr>
			</table>
	  </div>
	</div>
	

<div class="collapse in" id="Programming">
  <div class="well">
		<table class="table table-striped" id="tabela">
				<tr>
					<td rowspan="4">Języki programowania</td>
					<td>Python/Django
					</td>
					<td>
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
					</td>
				</tr>
				<tr>
					<td>JAVA</td>
					<td>
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
					</td>
				</tr>
				<tr>
					<td>HTML</td>
					<td>
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
					</td>
				</tr>
				<tr>
					<td>CSS</td>
					<td>
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
					</td>
				</tr>
				<tr>
					<td rowspan="4">Oprogramowanie</td>
					<td>Jira
					</td>
					<td>
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
					</td>
				</tr>
				<tr>
					<td>GIT</td>
					<td>
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
					</td>
				</tr>
				<tr>
					<td>GitHub</td>
					<td>
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
					</td>
				</tr>
				<tr>
					<td>XXX</td>
					<td>
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
					</td>
				</tr>
								<tr>
					<td rowspan="3">Systemy operacyjne</td>
					<td>Windows 7
					</td>
					<td>
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
					</td>
				</tr>
				<tr>
					<td>GNU/Linux - Ubuntu</td>
					<td>
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
					</td>
				</tr>
				<tr>
					<td>Android</td>
					<td>
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
					</td>
				</tr>
			</table>
  </div>
</div>
		

<div class="collapse in" id="Languages">
  <div class="well">
		<table class="table table-striped" id="tabela">
				<tr>
					<td colspan="2">Polski </td>
					<td id="w_linii">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<p>- język ojczysty</p>
					</td>
				</tr>
				<tr>
					<td rowspan="4">Angielski</td>
					<td>W mowie</td>
					<td>
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
					</td>
				</tr>
				<tr>
					<td>W piśmie</td>
					<td>
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
					</td>
				</tr>
				<tr>
					<td>Rozumienie ze słuchu</td>
					<td>
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
					</td>
				</tr>
				<tr>
					<td>Rozumienie z tekstu</td>
					<td>
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
					</td>
				</tr>
				<tr>
					<td rowspan="4">Francuski</td>
					<td>W mowie</td>
					<td>
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
					</td>
				</tr>
				<tr>
					<td>W piśmie</td>
					<td>
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
					</td>
				</tr>
				<tr>
					<td>Rozumienie ze słuchu</td>
					<td>
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
					</td>
				</tr>
				<tr>
					<td>Rozumienie z tekstu</td>
					<td>
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
					</td>
				</tr>
				<tr>
					<td rowspan="4">Chiński</td>
					<td>W mowie</td>
					<td>
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
					</td>
				</tr>
				<tr>
					<td>W piśmie</td>
					<td>
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
					</td>
				</tr>
				<tr>
					<td>Rozumienie ze słuchu</td>
					<td>
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
					</td>
				</tr>
				<tr>
					<td>Rozumienie z tekstu</td>
					<td>
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
						<img class="star" src="../../static/about_me/img/star-outlined.svg">
					</td>
				</tr>
		</table>
  </div>
</div>
	<!-- <div>	 -->
		<!-- <h3>Enterprunership</h3> -->
	<!-- </div> -->

{% endblock %}